.header {
  margin: 0 auto;
  max-width: 1000px;
}

@media (max-width: 1015px) {
  .header {
    padding: 0 15px;
  }
}

.header__link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  transition: 0.1s all ease-in;
}

.header__link:hover {
  opacity: 0.5;
}

.header__img-wrapper {
  margin-right: 18px;
  max-width: 90px;
}

.header__logo {
  width: 100%;
  height: auto;
}

.header__caption {
  color: #ABB6C2;
  display: inline-block;
  font-size: 18px;
  margin: 16px 0;
}

@media (max-width: 350px) {
  .header__caption {
    font-size: 14px;
  }
}