.button {
  color: white;
  font-weight: lighter;
  border-radius: 6px;
  border: none;
  padding: 8px 30px;
  transition: all 0.1s ease-in;
  white-space: nowrap;
}

@media (max-width: 450px) {
  .button {
    padding: 4px 15px;
  }
}

.button:disabled {
  background-color: #20374C !important;
}

.button:hover {
  opacity: 0.5;
}