.detail {
  max-width: 1000px;
  color: white;
  margin: 0 auto;
  min-height: calc(100vh - 265px);
}

@media (max-width: 1015px) {
  .detail {
    padding: 0 15px;
  }
}

.detail__buttons {
  display: flex;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.detail__flex-column {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 1 auto;
}

.detail__flex-column:first-child {
  margin-right: 50px;
}

@media (max-width: 660px) {
  .detail__flex-column:first-child {
    margin: 0 0 20px 0;
  }
}

.detail__flex-column_last {
  width: 100%;
  min-height: 240px;
}

.detail__content {
  display: flex;
  margin-top: 40px;
}

@media (max-width: 660px) {
  .detail__content {
    flex-direction: column;
    align-items: center;
  }
}

.detail__img-wrapper {
  max-width: 480px;
  min-width: 200px;
  min-height: 200px;
  max-height: 400px;
  overflow: hidden;
  border-radius: 6px;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.7));
}

.detail__img {
  min-width: 200px;
  min-height: 200px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.detail__img-description {
  position: absolute;
  bottom: -28px;
  left: 0;
  font-size: 16px;
  font-weight: lighter;
}

@media (max-width: 660px) {
  .detail__img-description {
    bottom: 0;
    top: -20px;
  }
}

.detail__header {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 660px) {
  .detail__header {
    margin-bottom: 20px;
  }
}

.detail__info {
  flex: 1 1 auto;
  margin-right: 40px;
}

@media (max-width: 660px) {
  .detail__info {
    margin-right: 0;
  }
}

.detail__title {
  font-size: 42px;
  margin-right: 15px;
}

@media (max-width: 750px) {
  .detail__title {
    font-size: 35px;
  }
}

@media (max-width: 580px) {
  .detail__title {
    font-size: 25px;
  }
}

.detail__header-description {
  font-weight: lighter;
  margin-bottom: 10px;
}

@media (max-width: 660px) {
  .detail__header-description {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

.detail__tags {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 6px;
}

@media (max-width: 660px) {
  .detail__tags {
    margin-bottom: 30px;
  }
}

.detail__death {
  display: flex;
}

.detail__death:not(:last-child) {
  margin-bottom: 25px;
}

.detail__text1 {
  min-width: 90px;
  font-weight: bold;
  margin-right: 8px;
}

.detail__text2 {
  font-weight: lighter;
}

@media (max-width: 380px) {
  .detail__text2, .detail__text1 {
    font-size: 14px;
  }
}

.detail__quote {
  position: relative;
  display: flex;
  align-items: flex-end;
}

@media (max-width: 600px) {
  .detail__quote {
    margin: 30px 0 0 0;
  }
}

@media (max-width: 660px) {
  .detail__quote {
    flex-direction: column;
    align-items: flex-start;
  }
}

.detail__qoute-box {
  position: absolute;
  display: inline-block;
  top: 50px;
  left: -20px;
  border: solid rgba(255, 255, 255, 0.3) 1px;
  padding: 8px 10px;
  margin-left: 20px;
}

@media (max-width: 660px) {
  .detail__qoute-box {
    position: static;
    top: 0;
    left: 120px;
    margin: 20px 0 0 0;
  }
}


