.filter {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: #4C9BE8;
  border-radius: 6px;
  padding: 20px 15px;
  color: white;
  box-sizing: border-box;
  flex-wrap: wrap;
}

@media (max-width: 379px) {
  .filter {
    justify-content: center;
  }
}

.filter__button {
  position: absolute;
  bottom: -44px;
  right: 0;
}
