.card {
  color: white;
  background-color: #20374C;
  border-radius: 6px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.25));
}

@media (max-width: 470px) {
  .card {
    display: flex;
    position: relative;
  }
}

.card__img-wrapper {
  min-height: 210px;
  max-height: 195px;
  min-width: 143px;
  overflow: hidden;
}

.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.card__details {
  padding: 0 15px;
}

@media (max-width: 470px) {
  .card__details {
    padding: 0 0 0 15px;
  }
}

.card__info {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

@media (max-width: 470px) {
  .card__info {
    display: block;
  }
}

.card__first-text {
  font-size: 16px;
  margin-right: 4px;
  flex: 0 0 auto;
}

.card__sec-text {
  font-size: 16px;
  font-weight: lighter;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.card__separator {
  width: 100%;
  height: 1px;
  background-color: #abb6c252;
  margin-bottom: 20px;
}

@media (max-width: 470px) {
  .card__separator {
    opacity: 0;
  }
}

.card__button {
  margin: 0 0 20px 15px;
}

@media (max-width: 470px) {
  .card__button {
    position: absolute;
    right: 10px;
    bottom: 10px;
    margin: 0;
  }
}