.card {
  max-width: 300px;
  color: white;
  background-color: #20374C;
  border-radius: 6px;
  overflow: hidden;
  filter: drop-shadow(3px 3px 10px rgba(0, 0, 0, 0.25));
}

.card__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.card__details {
  padding: 0 15px;
}

.card__info {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.card__first-text {
  font-size: 16px;
  margin-right: 4px;
}

.card__sec-text {
  font-size: 16px;
  font-weight: lighter;
}

.card__separator {
  width: 100%;
  height: 1px;
  background-color: #abb6c252;
  margin-bottom: 20px;
}

.card__button {
  margin: 0 0 20px 15px;
}